<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="Miesiąc XVI"
					useFullscreenExpand="true"
		>
			<image imageURL="images/PA010175.jpg" thumbURL="thumbs/PA010175.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[Jazda na baranicy]]></title>
			<caption><![CDATA[20171001 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA010180.jpg" thumbURL="thumbs/PA010180.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[20171001 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA010181.jpg" thumbURL="thumbs/PA010181.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[20171001 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA010186.jpg" thumbURL="thumbs/PA010186.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[I na baranie]]></title>
			<caption><![CDATA[20171001 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA010191.jpg" thumbURL="thumbs/PA010191.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[Ale najlepiej na własnych nogach]]></title>
			<caption><![CDATA[20171001 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA010198.jpg" thumbURL="thumbs/PA010198.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[20171001 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA010199.jpg" thumbURL="thumbs/PA010199.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[No śmiać mi się chce]]></title>
			<caption><![CDATA[20171001 Wrocław]]></caption>
		</image>
			<image imageURL="images/20171007_135235.jpg" thumbURL="thumbs/20171007_135235.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[Bez bajki nie zejdę]]></title>
			<caption><![CDATA[20171007 Wrocław]]></caption>
		</image>
			<image imageURL="images/20171007_135304.jpg" thumbURL="thumbs/20171007_135304.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[No dobra, może być tuli tuli]]></title>
			<caption><![CDATA[20171007 Wrocław]]></caption>
		</image>
			<image imageURL="images/20171014_175340.jpg" thumbURL="thumbs/20171014_175340.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[Muszę pilnować, żeby ktoś mi nie jumnął klocków]]></title>
			<caption><![CDATA[20171014 Wrocław]]></caption>
		</image>
			<image imageURL="images/20171014_195100.jpg" thumbURL="thumbs/20171014_195100.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[Koronę mam i nie zawaham się jej użyć]]></title>
			<caption><![CDATA[20171014 Wrocław]]></caption>
		</image>
			<image imageURL="images/20171019_161652.jpg" thumbURL="thumbs/20171019_161652.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[Mistrzowie młota]]></title>
			<caption><![CDATA[20171019 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA210221.jpg" thumbURL="thumbs/PA210221.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[Królewna w koronie]]></title>
			<caption><![CDATA[20171021 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA210225.jpg" thumbURL="thumbs/PA210225.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[20171021 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA280227.jpg" thumbURL="thumbs/PA280227.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[Industrialna łazienka - podobno ostatni krzyk mody]]></title>
			<caption><![CDATA[20171028 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA280229.jpg" thumbURL="thumbs/PA280229.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[20171028 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA280233.jpg" thumbURL="thumbs/PA280233.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[20171028 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA280239.jpg" thumbURL="thumbs/PA280239.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[20171028 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA280241.jpg" thumbURL="thumbs/PA280241.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[Kask to podstawa przy tej aranżacji wnętrz]]></title>
			<caption><![CDATA[20171028 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA280261.jpg" thumbURL="thumbs/PA280261.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[20171028 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA280274.jpg" thumbURL="thumbs/PA280274.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[20171028 Wrocław]]></caption>
		</image>
			<image imageURL="images/PA290290.jpg" thumbURL="thumbs/PA290290.jpg" linkURL=".." linkTarget="_blank">
			<title><![CDATA[No ładuj ojciec, ładuj]]></title>
			<caption><![CDATA[20171029 Wrocław]]></caption>
		</image>
	</juiceboxgallery>
